
<div class="card" style="width: 18rem;" id="<%= dom_id friend %>">
  <img src="https://source.unsplash.com/random/?person" class="card-img-top object-fit-cover" alt="..." style="height: auto; aspect-ratio: 1;">
  <div class="card-body">
    <h5 class="card-title"><%= friend.first_name %> <%= friend.last_name %></h5>
    <p class="card-text">✉️ <%= friend.email %></p>
    <p class="card-text">📞 <%= friend.phone %></p>
    <p class="card-text">𝕏 <%= friend.twitter %></p>
    <div class="mt-3">
      <%= link_to "Edit ✏️", edit_friend_path(friend),class:"btn btn-light" %>
      <%= button_to "Destroy this friend", friend, method: :delete, class:"btn btn-danger mt-3" %>
    </div>
  </div>
  
</div>
